table{
    position: absolute;
    top:15%;
    left: 6%;
    background-color: rgb(255, 136, 0);
  border-radius: 3%;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 40%;
     
      
    
}
td,  th {
    border: 1px solid #ddd;
    padding: 8px;
    color: rgb(255, 255, 255);
  }th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: white;
        color: rgb(255, 81, 0);
      }